{# Vista utilizada para mostrar mensajes del sistema #}
{% extends 'layout/base.html.twig' %}
{% block contenido %}
<div class="container marketing">
<div class="panel {{tipoDePanel}}">
  <div class="panel-heading">
    <h3 class="panel-title"><center>Mensaje del sistema - Cómputosweb</center></h3>
  </div>
  <div class="panel-body">
    <center>{{msj}}</center>
  </div>
</div>
{% endblock %}
{% block menu %}
	{# Script para submenues #}
	<script>
		(function($){
			$(document).ready(function(){
				$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
					event.preventDefault(); 
					event.stopPropagation(); 
					$(this).parent().siblings().removeClass('open');
					$(this).parent().toggleClass('open');
				});
			});
		})(jQuery);
	</script>
{% endblock %}