<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    {# Brand and toggle get grouped for better mobile display #}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../controller/index.php">Cómputosweb</a>
    </div>

    {# Collect the nav links, forms, and other content for toggling #}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {#<li><a href="#">Link</a></li>#}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle" aria-hidden="true"></i> Ayuda <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Video-Tutoriales</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                 {% if msjError == true %}
                   <div class="alert alert-dismissible alert-danger">
                     <button type="button" class="close" data-dismiss="alert">&times;</button>
                     <strong>¡Error!</strong> {{msj}}
                   </div>
                 {% endif %}
                 <form class="form" role="form" method="post" action="../controller/login.php" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Usuario</label>
                       <input type="text" class="form-control" id="exampleInputEmail2" name="user" placeholder="Usuario" maxlength="20" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
                       <input type="password" class="form-control" id="exampleInputPassword2" name="pass" placeholder="Contraseña" maxlength="20" required>
                       {#<div class="help-block text-right"><a href="">Olvido su contraseña ?</a></div>#}
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                No tiene usuario ? <a href="../controller/registrarse.php" class="text-info"><b>Registrate!</b></a>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div>{# /.navbar-collapse #}
  </div>{# /.container-fluid #}
</nav>