{# Plantilla para los usuarios del sistema #}
{% extends 'layout/base.html.twig' %}
{% block contenido %}
<div class="container marketing">
<div class="panel panel-default">
  <div class="panel-heading"><center><i class="fa fa-list" aria-hidden="true"></i> Cartelera</center></div>
  <div class="panel-body">
    <p>Bienvenido! Cómputosweb es una página interactiva que pertenece al centro de cómputos de la Municipalidad de Tres Arroyos. Los usuarios registrados podrán realizar pedidos de productos y hacer un seguimiento de sus reparaciones. Esperamos que la experiencia sea de su agrado.</p>
    <p>
    	<b class="text-danger">· Importante!</b> Mantener sus datos actualizados ingresando en Perfil - <a href="../controller/mis-datos.php" class="text-info">Mis datos.</a>
    </p>
    <p>
    	<b class="text-primary">· Nota!</b> El sistema está pensado para que cada pedido se realice de forma individual es decir, si se quiere pedir <b>2 resmas A4</b> y <b>1 resma Oficio</b>. <b>Primero</b> deberá hacer el pedido por <b>2 resmas A4</b> una vez enviado, <b>hacer un nuevo pedido solicitando 1 resma Oficio</b>.
    </p>
    <p>
    	<b class="text-primary">· Nota!</b> Una vez que se realice el pedido el mismo será reservado por <b class="text-danger">5 días</b> hasta que el usuario pase a retirarlo por Centro de Cómputos. Pasada esa fecha, será cancelado con el fin de no retener el stock por si otro usuario lo llegará a precisar.
    </p>
    <p>
    	<b class="text-primary">· Nota!</b> Si usted precisa hacer un reclamo por mal funcionamiento de algún dispositivo ya sea (PC, Celular/telélefono, impresora, etc). deberá ingresarlo en <a href="../controller/reparacion-tarea-nueva.php" class="text-info">Reparaciones/tareas</a> realizando una breve descripción con el fin de poder realizar un mejor seguimiento y mantenerlos informados acerca del estado del mismo en el <a href="../controller/reparacion-tarea-listado.php" class="text-info">Listado de mis reparaciones/tareas</a>.
    </p>
    <p>
    	<center><b class="text-success">¡Muchas gracias por su atención!</b></center>
    	<center>Centro de Cómputos - Municipalidad de Tres Arroyos</center>
    </p>
  </div>
</div>
{% endblock %}
{% block menu %}
	{# Script para submenues #}
	<script>
		(function($){
			$(document).ready(function(){
				$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
					event.preventDefault(); 
					event.stopPropagation(); 
					$(this).parent().siblings().removeClass('open');
					$(this).parent().toggleClass('open');
				});
			});
		})(jQuery);
	</script>
{% endblock %}