{% extends 'layout/sistema.html.twig' %}
{% block head %}
    {# DataTables CSS #}
    <link href="../public/plugins/data-tables/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    {# DataTables Responsive CSS #}
    <link href="../public/plugins/data-tables/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
{% endblock %}
{% block contenido %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"><center><i class="fa fa-star" aria-hidden="true"></i> Listado de <b>áreas</b></center></div>
        {# /.panel-heading #}
        <div class="panel-body">
			{% if msjError == true %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Error!</strong> {{msj}}
				</div>
			{% elseif msjExito == true %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>¡Exito!</strong> {{msj}}
				</div>
			{% endif %}

            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                    	<th>Área</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                	{% for tuplaArea in listadoDeAreas %}
                    <tr class="odd gradeX">
                        <td>{{tuplaArea.nombre}}</td>
                        <td><center>
							<form method="POST">
								<input type="hidden" name="id" value="{{tuplaArea.id}}">
								<button	formaction="../controller/area-modificar.php" class="btn btn-warning btn-xs" title="Modificar"><i class="fa fa-pencil" aria-hidden="true"></i></button>
								<button formaction="../controller/area-delete.php" onclick="return confirm('¿Seguro desea eliminar el usuario?')" class="btn btn-danger btn-xs" title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></button>
							</form></center>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        {# /.panel-body #}
    </div>
    {# /.panel #}
</div>
{# div necesario para que la vista se ajuste (no lleva cierre porque lo cierra la vista base)#}
<div class="container marketing">
{% endblock %}
{% block plugins %}
	{# DataTables JavaScript #}
	<script src="../public/plugins/data-tables/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../public/plugins/data-tables/datatables-plugins/dataTables.bootstrap.min.js"></script>
	<script src="../public/plugins/data-tables/datatables-responsive/dataTables.responsive.js"></script>
	{# Script necesario para datatables (responsive, traducción entre otras cosas) #}
	<script>
	$(document).ready(function() {
	    $('#dataTables-example').DataTable({
	        responsive: true,
			"pageLength" : 10,
			"order" : [ [ 0, "asc" ] ],
			"language" : {
				"lengthMenu" : "Mostrar _MENU_ registros por página",
				"info" : "Mostrando página _PAGE_ de _PAGES_",
				"infoEmpty" : "No se observan registros",
				"emptyTable" : "No se encuentran resultados",
				"zeroRecords" : "Sin resultados para mostrar",
				"infoFiltered" : "(filtrada de _MAX_ registros)",
				"search" : "Buscar: ",
				"paginate" : {
					"next" : "Siguiente",
					"previous" : "Anterior"
				}
			}

	    });
	});
	</script>
{% endblock %}